section.logo
	div.container
		div.text-center
			h4 
				i.fa.fa-angle-left 
				a(href="#") CLOTHING
				a(href="#") EQUIPMENTS
				a(href="#") JEWELLERY
				i.fa.fa-angle-right

		div.row
			div.col-md-4
				div.row
					div.col-md-6
						div.borde
							img(src="images/a2.jpg", alt="")
							div.bg-dark.text-left SALE
							div.bg-red.text-left NEW
					div.col-md-6
						+clothe-buy
			div.col-md-4
				div.row
					div.col-md-6
						div.borde
							img(src="images/d2.jpg", alt="")
							div.bg-red.text-left NEW
					div.col-md-6
						+clothe
			div.col-md-4
				div.row
					div.col-md-6
						div.borde
							img(src="images/g2.jpg", alt="")
							div.bg-red.text-left NEW
					div.col-md-6
						+clothe
		div.row
			div.col-md-4
				div.row
					div.col-md-6
						div.borde
							img(src="images/c2.jpg", alt="")
							div.bg-red.text-left NEW
					div.col-md-6
						+clothe
			div.col-md-4
				div.row
					div.col-md-6
						div.borde
							img(src="images/c2.jpg", alt="")
							div.bg-dark.text-left SALE
					div.col-md-6
						+clothe-buy
			div.col-md-4
				div.row
					div.col-md-6
						div.borde
							img(src="images/e1.jpg", alt="")
							div.bg-red.text-left NEW
					div.col-md-6
						+clothe