section.pre-footer
	div.container
		div.row
			div.col-md-3
				h4 ACCESORIES
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium nemo consequuntur ratione laboriosam laborum quasi id est quia odio, quae aspernatur ad blanditiis atque, eum porro provident molestias perspiciatis culpa.
				a.red-social(href="http://facebook.com")
					i.fa.fa-facebook
				a.red-social(href="http://twitter.com")
					i.fa.fa-twitter
				a.red-social(href="#")
					i.fa.fa-rss
				a.red-social(href="#")
					i.fa.fa-skype
				a.red-social(href="#")
					i.fa.fa-dribbble
						
			+footer-box("MY ACCOUNT", "My Account", "Order History", "Wish List", "Newsletter")

			+footer-box("INFORMATION", "About Us", "Delivery Information", "Privacy Policy", "Terms & Conditions")
			
			+footer-box("EXTRAS", "Brands", "Gift Vouchers", "Affiliates", "Specials")

			div.col-md-3
				h4 ABOUT US
				div
					i.fa.fa-map-marker
					span 8901 Marmora Road, Glasgow D04 89 GR, New York
				div
					i.fa.fa-phone
					div
						p (0123)456789
						p (0987)654321
				div
					i.fa.fa-envelope
					span admin@bootexperts.com


footer
	div.container
		div.row
			div.col-md-6
				p copyright &copy; 2015 
					span.red BootExperts.
					span All rights resserved.
			div.col-md-6
				a(href="#")
					img(src="images/payment.png", alt="")

	

