doctype
html
	head
		title Fashion Accesories Home
		include enlace.jade
	
	body
		include mixin
		include header.jade
		include banner.jade
		include logos.jade
		include clothes.jade
		include blog.jade
		include footer.jade

		script(src="js/jquery.js")
		script(src="js/bootstrap.min.js")