section.logo
	div.container.text-center
		div.text-center
			h4 
				i.fa.fa-angle-left 
				a(href="#") LASTEST
				a(href="#") BESTSELLER
				a(href="#") SALE 
				i.fa.fa-angle-right
		div.row
			div.col-md-3
				div.borde
					img(src="images/a1.jpg", alt="")
					div.bg-red.text-left NEW
					+deliver
					p.price $218.00
			div.col-md-3
				div.borde
					img(src="images/b1.jpg", alt="")
					div.bg-dark.text-left SALE
					div.bg-red.text-left NEW
					+deliver
					div
						p.no-price $242.00
						p.price $218.00
			div.col-md-3
				div.borde
					img(src="images/c1.jpg", alt="")
					div.bg-dark.text-left SALE
					+deliver
					p.no-price $242.00
			div.col-md-3
				div.borde
					img(src="images/d1.jpg", alt="")
					div.bg-red.text-left NEW
					+deliver
					p.price $218.00

		a(href="#")
			img(src="images/client1.jpg", alt="")
		a(href="#")
			img(src="images/client2.jpg", alt="")
		a(href="#")
			img(src="images/client3.jpg", alt="")
		a(href="#")
			img(src="images/client4.jpg", alt="")
		a(href="#")
			img(src="images/client5.jpg", alt="")
		a(href="#")
			img(src="images/client6.jpg", alt="")